<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../../styles/css/index.css">

    <title> BiblioSell </title>
  </head>
  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand navbar-each-section" 
             href="#"><img src="../../public/assets/logo company-01 2.svg" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-each-section" id="navbarNav">
            <ul class="navbar-nav headings3--regular">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#jumbo">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page1">Benefit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#Page2">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#page3">Category</a>
              </li>
            </ul>
          </div>
          <div class=" navbar-nav ml-lg-auto">
            <a class="nav-link active" href="#Score"><img src="../../public/assets/shopping-cart.svg" alt=""></a>
            <a class="nav-link active" href="#footer"><img src="../../public/assets/profile-icon.svg" alt=""></a>
          </div>
        </div>
      </nav>

      <!-- Section 4 -->
      <section id="page3">
        <div class="homepage-section4">
        <div class="container-fluid nopadding">
          <div class="row">
            <!-- Left Side -->
            <div class="col-6 nopadding">
              <div class="homepage-section4__image-frame">
                <div class="homepage-section4__background-logo-circle"></div>
                <img src="../../public/assets/36743455-8440-4369-8dc3-43bb942cbb45-removebg-preview 1.svg" alt="">
              </div>
            </div>

            <!-- Right Side -->
            <div class="col-6">
              <div class="homepage-section4__column-right">
                <div class="homepage-section4-title">
                  <span class="headings3--regular font-color--orange">
                    Operation
                  </span>
                  <br>
                  <span class="headings2--bolder">
                    Easy to order
                  </span>
                  <br>
                  <span class="headings2--bold font-color--orange">
                    Sit amet, consectetur
                  </span>
                </div>
                <span class="headings3--regular">
                  Lorem ipsum dolor sit amet, consectetur 
                </span>
                <span>
                  <a href="#" class="btn btnsubmit--smallsized">Get Started</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
  </body>
  <script src="../../public/js/homepage.js"></script>
</html>
